<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form example</title>
  </head>
  <body>
    <% if (message) { %>
      <h2><%= message %></h2>
    <% } %>
    <form action="/name" method="POST">
      <label for="name">Please input your name.</label><br />
      <input type="text" name="name" /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
